<head>
    <title> B&ouml;rni - Home</title>
    <link rel="stylesheet" href="laptop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/navbar/navbar.css">    

</head>

<body>
    <header>
        <nav>
            <div class="items">
                <h2 class="logo">B&ouml;rni</h2>
                <ul>
                    <a class="menu" href="/startseite2/startseite.html">Home</a>
                    <a class="menu" href="/shop/shop.html">Shop</a>
                    <a class="menu" href="/impressum/impressum.html">Impressum</a>
                    <div class="line"></div>

                </ul>
                <div class="actions">
                    <i class="fa-sharp fa-solid fa-magnifying-glass search"></i>
                    <input id="searchArea" type="text">
                    <i class="fa-sharp fa-solid fa-cart-shopping cart"><sub class="cart_status"></sub></i>
                    <div class="profile"></div>
                </div>
            </div>
            <hr>
        </nav>
    </header>
    <section class="section">
        <div class="left">
            <h1 class="produkt_title">B&ouml;rni Laptop</h1>
            <div class="optionsProdukt">
                <form class="speicher">
                    <input class="storageOption" type="radio" id="256" name="storage" value="899,00€">
                    <label for="256">256 GB</label><br>

                    <input class="storageOption" type="radio" id="512" value="999,00€" name="storage">
                    <label for="512">512 GB</label><br>

                    <input class="storageOption" type="radio" id="1" value="1.199,00€" name="storage">
                    <label for="1">1 TB</label><br>

                    <input class="storageOption" type="radio" id="2" value="1.299,00€" name="storage" checked>
                    <label for="2">2 TB</label><br>
                </form>
                <form class="farben">
                    <div class="colorOuters" id="o1">
                        <div class="colors" id="i1"></div>
                    </div>
                    <div class="colorOuters" id="o2">
                        <div class="colors" id="i2"></div>
                    </div>
                    <div class="colorOuters" id="o3">
                        <div class="colors" id="i3"></div>
                    </div>
                </form>
            </div>
            <article class="infoProdukt">
                <h1 class="price">1.299,00€</h1>
                <a class="zumWarenkorb">Zum Warenkorb</a>
            </article>
        </div>
        <div class="right">
            <img id="image1" src="/Produkt-Ansicht/laptop_fotos/laptop_gray.jpg" alt="mac" >
        </div>
    </section>
    <script src="laptop.js"></script>
    <script src="/navbar/navbar.js"></script>
</body>