<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/navbar/navbar.css">
</head>

<body>
    <header>
        <nav>
            <div class="items">
                <h2 class="logo">B&ouml;rni</h2>
                <ul>
                    <a class="menu" href="/startseite2/startseite.html">Home</a>
                    <a class="menu" href="#">Shop</a>
                    <a class="menu" href="/impressum/impressum.html">Impressum</a>
                    <div class="line"></div>

                </ul>
                <div class="actions">
                    <i class="fa-sharp fa-solid fa-magnifying-glass search"></i>
                    <input id="searchArea" type="text">
                    <i class="fa-sharp fa-solid fa-cart-shopping cart"><sub class="cart_status"></sub></i>
                    <div class="profile"></div>
                </div>
            </div>
            <hr>
        </nav>
    </header>
    <section class="shop">
        <div class="containerShop">
            <div class="leftsideShop">
                <!-- container -->
                <a class="boxcontainer" href="/Produkt-Ansicht/index.html">
                    <!-- card -->
                    <div class="card">
                        <!-- frontside -->
                        <div class="front f1"></div>
                        <!-- backside -->
                        <div class="back">
                            <h1 class="cardtitle">Börni Phone 3</h1>
                            <p class="cardtext">Das neue Börni Phone 3 ist mit einer<br>Akkulaufzeit von bis zu 26
                                Stunden und<br>einem sehr schnellen A15 Bionic Prozessor<br>ist unschlagbar!</p>
                            <div class="iconscard">
                                <i class="fa-sharp fa-solid fa-mobile iconshop"></i> <i
                                    class="fa-solid fa-battery-full iconshop"></i>
                                <i class="fa-solid fa-user iconshop"></i>
                            </div>
                            <div class="featuresshop">
                                <p class="features">6.1 Zoll</p>
                                <p class="features">bis zu 26 Stunden<br> Akkulaufzeit</p>
                                <p class="features">Face ID</p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- container -->
                <a class="boxcontainer" href="/Produkt-Ansicht/pad_pro_files/padPro.html">
                    <!-- card -->
                    <div class="card">
                        <!-- frontside -->
                        <div class="front f2"></div>
                        <!-- backside -->
                        <div class="back">
                            <h1 class="cardtitle">Börni Pad Pro</h1>
                            <p class="cardtext">Face-ID, USB-C Anschluss, 5G und ein 4K<br>Video aufnahmen bietet das
                                Börni Pad Pro.<br>Sogar Videospiele sind mit dem M2 Chip<br>möglich!</p>
                            <div class="iconscard">
                                <i class="fa-sharp fa-solid fa-mobile iconshop"></i>
                                <i class="fa-solid fa-battery-full iconshop"></i>
                                <i class="fa-solid fa-microchip iconshop"></i>
                            </div>
                            <div class="featuresshop">
                                <p class="features">12.9 Zoll</p>
                                <p class="features">bis zu 10 Stunden<br> Akkulaufzeit</p>
                                <p class="features">M2 Chip</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- container -->
                <a class="boxcontainer" href="/Produkt-Ansicht/phone1_files/phone1.html">
                    <!-- card -->
                    <div class="card">
                        <!-- frontside -->
                        <div class="front f3"></div>
                        <!-- backside -->
                        <div class="back">
                            <h1 class="cardtitle">Börni Phone 1</h1>
                            <p class="cardtext">Das Börni Phone 1 überzeugt mit seinem großen<br>Bildschirm und einer
                                12MP Dual-camera.<br>Außerdem ist es kompatibel mit Wireless Chargern.</p>
                            <div class="iconscard">
                                <i class="fa-sharp fa-solid fa-mobile iconshop"></i>
                                <i class="fa-solid fa-battery-full iconshop"></i>
                                <i class="fa-solid fa-user iconshop"></i>
                            </div>
                            <div class="featuresshop">
                                <p class="features">6.7 Zoll</p>
                                <p class="features">bis zu 17 Stunden<br> laufzeit</p>
                                <p class="features">Face ID</p>
                            </div>
                        </div>
                    </div>
            </div>
            </a>
            <div class="rightsideShop">
                <!-- container -->
                <a class="boxcontainer" href="/Produkt-Ansicht/pad2_files/pad2.html">
                    <!-- card -->
                    <div class="card">
                        <!-- frontside -->
                        <div class="front f4"></div>
                        <!-- backside -->
                        <div class="back">
                            <h1 class="cardtitle">Börni Pad 2</h1>
                            <p class="cardtext">Das neue Börni Pad 2 ist ab jetzt in vielen<br>verschiedenen Farber
                                verfügbar. Eine hohe<br>Leistung in einem dünnen und einfachen<br>Design.</p>
                            <div class="iconscard">
                                <i class="fa-sharp fa-solid fa-mobile iconshop"></i>
                                <i class="fa-solid fa-battery-full iconshop"></i>
                                <i class="fa-solid fa-microchip iconshop"></i>
                            </div>
                            <div class="featuresshop">
                                <p class="features">10.9 Zoll</p>
                                <p class="features">bis zu 9 Stunden<br> Akkulaufzeit</p>
                                <p class="features">M1 Chip</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- container -->
                <a class="boxcontainer" href="/Produkt-Ansicht/phone2_files/phone2.html">
                    <!-- card -->
                    <div class="card">
                        <!-- frontside -->
                        <div class="front f5"></div>
                        <!-- backside -->
                        <div class="back">
                            <h1 class="cardtitle">Börni Phone 2</h1>
                            <p class="cardtext">Mit einem 2532 x 1170 Pixel True Tone<br> Display kann man Filme in
                                hoher Auflösung<br>streamen und das auch nocht 19 Stunden<br>am Stück. Kaufe jetzt das
                                Börni Phone 2!</p>
                            <div class="iconscard">
                                <i class="fa-sharp fa-solid fa-mobile iconshop"></i>
                                <i class="fa-solid fa-battery-full iconshop"></i>
                                <i class="fa-solid fa-user iconshop"></i>
                            </div>
                            <div class="featuresshop">
                                <p class="features">5.8 Zoll</p>
                                <p class="features">bis zu 19 Stunden<br> Akkulaufzeit</p>
                                <p class="features">Face ID</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- container -->
                <a class="boxcontainer" href="/Produkt-Ansicht/pad1_files/pad1.html">
                    <!-- card -->
                    <div class="card">
                        <!-- frontside -->
                        <div class="front f6"></div>
                        <!-- backside -->
                        <div class="back">
                            <h1 class="cardtitle">Börni Pad 1</h1>
                            <p class="cardtext">Das Börni Pad 1 ist mit der Größe von 10.9<br>Zoll und einer
                                Akkulaufzeit von 8 Stunden<br>perfekt für den Alltäglichen gebrauch!</p>
                            <div class="iconscard">
                                <i class="fa-sharp fa-solid fa-mobile iconshop"></i>
                                <i class="fa-solid fa-battery-full iconshop"></i>
                                <i class="fa-solid fa-microchip iconshop"></i>
                            </div>
                            <div class="featuresshop">
                                <p class="features">10.9 Zoll</p>
                                <p class="features">bis zu 8 Stunden<br> Akkulaufzeit</p>
                                <p class="features">A14 Bionic<br> Chip</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <article class="laptops">
            <img src="fotosShop/mac 1.png" alt="mac">
            <aside>
                <h1 class="laptoptitel">Börni Laptop</h1>
                <a href="/Produkt-Ansicht/laptop_files/laptop.html" class="buttonBuynow">Buy now</a>
            </aside>
        </article>

    </section>
    <footer>
        <div class="wrapper">
            <div class="leftside">
                <h1 class="title">B&ouml;rni</h1>
                <p class="info">Entdecke jetzt die neuen Handys von<br>Börni mit fairen Preisen!</p>
                <h2 class="labels">Folge uns</h2>
                <div class="socialicons">
                    <i class="fa-brands fa-facebook icon"></i>
                    <i class="fa-brands fa-instagram icon"></i>
                    <i class="fa-brands fa-telegram icon"></i>
                    <i class="fa-brands fa-twitter icon"></i>
                </div>
            </div>
            <div class="seprater"></div>
            <div class="rightside">
                <div class="account">
                    <h2 class="labels">Account</h2>
                    <a href="#" class="underlabels">Anmelden</a>
                    <a href="#" class="underlabels">Registrieren</a>
                    <a href="#" class="underlabels">Passwortvergessen</a>
                    <a href="#" class="underlabels">Kundenpanel</a>
                </div>
                <div class="rechtliches">
                    <h2 class="labels">Rechtliches</h2>
                    <a href="#" class="underlabels">AGB</a>
                    <a href="#" class="underlabels">Widerrufsrichtlinien</a>
                    <a href="#" class="underlabels">Impressum</a>
                    <a href="#" class="underlabels">Datenschutz</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/navbar/navbar.js"></script>
</body>

</html>